@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Забыли пароль?";
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
<section class="login">
    <div class="container">
        <div class="row">
            <form class="" asp-controller="Account" asp-action="ForgotPassword" method="post">
             <div asp-validation-summary="All" class="text-danger"></div>
                <h2>Восстановление пароля</h2>
                <div class="mb-3">
                    <label asp-for="Email"  class="form-label">Email адрес</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                    <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
</section>

<script src="https://unpkg.com/popperjs/core@2"></script>
<script src="~/js/bootstrap.bundle.js"></script>
</body>

</html>