@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}



    <section class="login">
        <div class="container">
                <div class="row">
                <form class="" form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="ModelOnly"></div>
                    <h2>Войти</h2>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email адрес</label>
                        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                         <span asp-validation-for="Email"></span>
                        <div id="emailHelp" class="form-text">Мы никогда никому не передадим вашу электронную почту.</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label">Пароль</label>
                        <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1">
                         <span asp-validation-for="Password"></span>
                    </div>
                    <div class="mb-3 form-check">
                        <input asp-for="RememberMe" type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label asp-for="RememberMe" class="form-check-label" for="exampleCheck1">Запомнить меня</label>
                    </div>
                     <input asp-for="ReturnUrl" hidden="hidden" type="checkbox" value="returnUrl" class="form-check-input" id="exampleCheck1">
                    <button type="submit" class="btn btn-primary">Войти</button>
                    @Html.ActionLink("Зарегистрироваться", "Register", "Account", null, new {@class="btn btn-light"})
                    @Html.ActionLink("Забыли пароль?", "ForgotPassword", "Account", null, new {@class="btn btn-light"})
                    
                </form>
            </div>
        </div>
    </section>