<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Transfer</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/all.min.css">
    <link rel="stylesheet" href="~/css/trip.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Pet Transfer</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link" asp-controller="Transportation" asp-action="Index">Поездки</a> *@
                        @* </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Car" asp-action="Index">Автомобили</a>
                        </li>
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link" asp-area="" asp-controller="Route" asp-action="Index">Маршруты</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Заявки</a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @*     <a class="nav-link" asp-area="" asp-controller="Order" asp-action="Create">Создать заявку</a> *@
                        @* </li> *@
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user__link btn-group">
                            <button type="button" class="btn btn-outline-primar dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                @User.Identity.Name
                                <img class="user__img" src="~/img/@User?.Claims?.FirstOrDefault(s=>s.Type=="ImageUrl")?.Value" alt="">
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li>@Html.ActionLink("Ваш профиль", "UpdateProfile", "Account", null, new { @class = "dropdown-item" })</li>
                                <li>
                                    <a class="dropdown-item" href="#">Друзья</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="Logout" class="dropdown-item">
                                        <input type="submit" value="Выход" />
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a asp-controller="Account" asp-action="Login" class="btn btn-primary">Войти</a>
                            <a asp-controller="Account" asp-action="Register" class="btn btn-outline-primary">Зарегистрироваться</a>
                        </div>
                    }

                </div>
            </div>
        </nav>
    </header>
    <section class="main">
        @RenderBody()
    </section>
    @*<div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebApplication Pet Transfer - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>
</html>