bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/PetTransport/FileContentIndex/06773518-a606-4210-b72b-591c78e63201.vsidx
.vs/PetTransport/FileContentIndex/d71da119-6e91-413e-9c71-e57acde7c417.vsidx
.vs/PetTransport/FileContentIndex/efa8bc15-4af9-41ce-abb4-5da9958cef74.vsidx
.vs/PetTransport/FileContentIndex/read.lock
