@{
    ViewData["Title"] = "Home Page";
}


<div class="banner">
    <div class="container">
        <h1 class="banner__title">
            Добро пожаловать в автоматизированную систему учета перевозок животных
            <span class="banner__name">Pet Transfer</span>.
        </h1>
    </div>
</div>