<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">PetTransport.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<AuthorizeView Roles="Менеджер">
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Главная
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ride-calendar" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Календарь поездок
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-ride">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Создать поездку
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-order">
                    <span class="oi oi-plus" aria-hidden="true"></span> Создать заявку
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Пользователи
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="rides">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Поездки
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="orders">
                    <span class="oi oi-plus" aria-hidden="true"></span> Заявки
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="cars">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Автомобили
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Заказчики
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="customers">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Типы животных
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>

<AuthorizeView Roles="Водитель">
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="my-rides">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Поездки
                    </NavLink>
                </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="my-current-rides">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Активная поездка
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="finished-rides">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Завершенные поездки
            </NavLink>
        </div>
    </nav>
</div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
